

body{
    margin: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: 100%;
    background-color: #FFF9F9;
}

header{
    width: auto;
    height: auto;
}

header .profile{
    height: 200px;
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    color: #EC5136;
}

header img{
    width: 150px;
    height: 120px;
    margin-top: 60px;
    margin-left: 10px;
    border-radius: 90%;
}

header .headertitulo{
    color: #21CDB4;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    margin: 10px;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 45% 45%;
}

main p{
    display: block;
    align-content: center;
    align-self:center;
    font-size: 15px;
    color: #150941;

}

main ul{
    list-style: none;
    font-size: 15px;
    color: #150941;
    margin: 5px;
}

body h2{
    font-size: 20px;
    color: #EC5136;
}

main .titulo{
    font-size: 20px;
    color: #150941;
}

main .lugar{
    font-size: 15px;
    color: #21CDB4;
}

main .skills{
    display: block;
}